{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
<title>Home</title>
{% endblock %}

{% block profile %}
<ul class="navbar-nav ml-md-auto" id="user-info">
    <li class="d-inline p-2 mr-1">Hi, {{ user.name }}</li>
    <li class="d-inline p-2 bg-primary text-white mr-1">{{ user.token }} &Hstrok;</li>
</ul>
{% endblock %}

{% block button %}
<ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
        <a class="btn btn-success mr-1" href="{{ url_for('view_inventory.view_inventory') }}">Inventory</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success mr-1" href="{{ url_for('login.logout') }}">Log Out</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 canv">
            <div id="canvas-wrapper">
                <canvas id="tree_canvas">
                </canvas>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="row">
                <div class="col text-center">
                    <p class="h1">Words with Trees</p>
                    <img alt="" height="250" src="../static/tree.png" width="250">
                    <p class="h2">Buy Trees</p>
                </div>

                <div class="row">

                    <div class="input-group md-form form-sm form-2 pl-0 mb-3 col-9 ml-1">
                        <form action="{{ url_for('buy.buy_branches_search') }}" class="form-inline mr-auto"
                              method="get">
                            <input aria-label="Search" class="form-control mr-sm-2" name="search_field" placeholder="Search"
                                   type="text">
                            <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search
                            </button>
                        </form>
                    </div>

                    <div class="dropdown show col-2">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle bg-success"
                           data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                            Filter By:
                        </a>
                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                            <a class="dropdown-item" href="?filter=visibility">Visibility</a>
                            <a class="dropdown-item" href="?filter=price">Price</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        {% for branch in branches %}
                        <li class="list-group-item">{{ branch.text }}
                            <span class="ml-5 mr-5">${{ branch.price }}</span>
                            <button class="btn btn-info btn-lg" data-id="{{branch.id}}" data-price="{{ branch.price }}"
                                    data-target="#buyModal"
                                    data-text="{{ branch.text }}" data-toggle="modal"
                                    type="button">Buy!
                            </button>
                        </li>
                        {% else %}
                        <li><em>Unbelievable. There are no available branches to purchase </em></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Modal from https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
            <div class="modal fade" id="buyModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Buy Branch</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <form action="{{ url_for('buy.buy_branch') }}" class="form-signin needs-validation"
                              method="post" novalidate="">
                            <div class="modal-body">
                                <p id="branch_name">Branch name</p>
                                <p><span>$ </span><span id="branch_price">price</span></p>
                                <textarea maxlength="35" name="new-bt">
                  </textarea>
                                <div class="invalid-feedback">
                                    Your message is too long
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input class="branch_id" name="branch_id" type="hidden">
                                <input class="branch_price" name="branch_price" type="hidden">
                                <input class="btn btn-default" id='submit-button' type="submit" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
<script src="{{ url_for('static', filename='js/ResizeSensor.js') }}"></script>
<script src="{{ url_for('static', filename='js/misc.js') }}"></script>
<script src="{{ url_for('static', filename='js/branch.js') }}"></script>
<script src="{{ url_for('static', filename='js/tree.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script src="{{ url_for('static', filename='js/buy-branch.js') }}"></script>
{% endblock %}
