{% extends "layout.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
<title>Home</title>
{% endblock %}

{% block profile %}
<ul class="navbar-nav ml-md-auto" id="user-info">
    <li class="d-inline p-2 mr-1">Hi, {{ user.name }}</li>
    <li class="d-inline p-2 bg-primary text-white mr-1" id="token-amount">{{ user.token }} &Hstrok;</li>
</ul>
{% endblock %}

{% block button %}
<ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
        <a class="btn btn-success mr-1" href="{{ url_for('view_inventory.view_inventory') }}">Inventory</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success mr-1" href="{{ url_for('login.logout') }}">Log Out</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 canv">
            <div id="canvas-wrapper">
                <canvas id="tree_canvas">
                </canvas>
            </div>
            <button id="canvas-zoom-in" type="button mr-0 mt-1" class="btn btn-success">+</button>
            <button id="canvas-zoom-out" type="button ml-0 mt-1" class="btn btn-warning">-</button>
        </div>
        <div class="col-md-3 mt-4">
            <div class="row mr-0 ml-0">
                <div class="col text-center">
                    <p class="h1">Words with Trees</p>
                    <img alt="" height="250" src="../static/tree.png" width="250">
                    <p class="h2">Buy Trees</p>
                </div>

                <div class="row mt-2 mb-2">
                    <form class="form-inline">
                        <input aria-label="Search" class="form-control sm-2 mr-1" placeholder="Search" type="text">
                        <div class="dropdown show">
                            <a aria-expanded="false" aria-haspopup="true"
                               class="btn btn-secondary dropdown-toggle bg-success mr-1"
                               data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button">
                                Filter
                            </a>
                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                <a class="dropdown-item" href="?filter=visibility">Visibility</a>
                                <a class="dropdown-item" href="?filter=price">Price</a>
                            </div>
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>


                </div>

                <ul class="list-group scroll-box">
                    {% for branch in branches %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-9 mt-2">{{ branch.text }}
                                <span class="ml-5 mr-5">{{ branch.price }} &Hstrok;</span>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-info" data-id="{{branch.id}}" data-price="{{ branch.price}}"
                                        data-target="#buyModal"
                                        data-text="{{ branch.text }}" data-toggle="modal"
                                        type="button">Buy
                                </button>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li><em>Unbelievable. There are no available branches to purchase </em></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Modal from https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
            <div class="modal fade" id="buyModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Buy Branch</h4>
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('buy.buy_branch') }}" class="form-signin needs-validation"
                                  method="post" novalidate="">
                                <p id="branch_name">Branch name</p>
                                <p><span>$ </span><span id="branch_price">price</span></p>
                                <textarea class="form-control" maxlength="6" name="new-bt"
                                          placeholder="Enter message here" required></textarea>
                                <div class="invalid-feedback">
                                    You must enter a message.
                                </div>
                        </div>
                        <div class="modal-footer">
                            <input class="branch_id" name="branch_id" type="hidden">
                            <input class="branch_price" name="branch_price" type="hidden">
                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script src="{{ url_for('static', filename='js/ResizeSensor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/branch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buy-branch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-validation.js') }}" type="text/javascript"></script>
    {% endblock %}
