{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" >
  <title>Home</title>
{% endblock %}

{% block body %}
  <div class = "row">
    <section class ="col-8 canv">
      <div id="canvas-wrapper">
        <canvas id="tree_canvas">
        </canvas>
      </div>
      <br/>
    </section>
    <aside class = "col-4 info">
      <button type="button" class="btn btn-outline-success profile-btn">Profile</button>
      <button type="button" class="btn btn-outline-success token-btn">Get Tokens</button>
      <p class = "banner">Words with Trees</p>
      <div class = "border border-success rounded content">
        <h1 class = "filler pb-1">
          Branch Content info
        </h1>
        <p class = "filler p-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc neque nunc, aliquam id condimentum iaculis, porttitor ac purus. In eget sollicitudin justo. Maecenas et rhoncus turpis. Morbi pulvinar nunc non odio iaculis, sed lacinia orci molestie. Ut vestibulum dui augue, nec accumsan mi porttitor in. Ut sit amet ultrices neque. In placerat, elit ac fermentum aliquam, augue arcu aliquet velit, vel fringilla enim nisi ut nulla. Etiam rhoncus accumsan mauris vel volutpat.</p>

      </div>
      <button type="button" class="btn btn-outline-success sell-btn">Sell</button>
      <button type="button" class="btn btn-outline-success buy-btn">Buy</button>
    </aside>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.createjs.com/1.0.0/easeljs.min.js" ></script>
  <script src="{{ url_for("static", filename="js/ResizeSensor.js") }}" ></script>
  <script src="{{ url_for("static", filename="js/misc.js") }}"></script>
  <script src="{{ url_for("static", filename="js/branch.js") }}"></script>
  <script src="{{ url_for("static", filename="js/tree.js") }}"></script>
  <script src="{{ url_for("static", filename="js/init.js") }}"></script>
{% endblock %}
