{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Words With Trees</title>
{% endblock %}

{% block body %}
    <form class="form text-center" action="{{ url_for('root.home') }}" method="post">
      <img src="../static/tree.png" alt="logo" width="250" height="250">
      <h1 class="h2 mb-3 font-weight-normal">Words With Trees</h1>

      <a class="btn btn-lg btn-block btn-primary" href="{{ url_for('signup.signup_as_get') }}" role="button">Sign Up</a>
      <a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('login.login_as_get') }}" role="button">Log In</a>
      <p class="mt-5 mb-3 text-muted">&copy; CS253 Fall-2019</p>
    </form>
{% endblock %}
