{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Log in</title>
{% endblock %}

{% block button %}
<a class="btn btn-success ml-auto mr-1" href="{{ url_for('signup.signup_as_get') }}">Sign Up</a>
{% endblock %}

{% block body %}
<form class="form-signin needs-validation" novalidate="" action="{{ url_for('login.login_as_post') }}" method="post">
  <div class="text-center">
    <img src="../static/tree.png" alt="logo" width="250" height="250">
    <h1 class="h4 mb-3 font-weight-normal">Words With Trees</h1>
  </div>

  {% for message in get_flashed_messages() %}
  <div class="alert alert-primary" role="alert">{{ message }}</div>
  {% endfor %}

  <div class="mb-3">
    <label for="username">Username</label>
    <input name="username" type="text" value="{{ request.form['username'] }}" class="form-control" required autofocus>
    <div class="invalid-feedback">
      You must provide a username.
    </div>
  </div>

  <div class="mb-3">
    <label for="password">Password</label>
    <input name="password" type="password" value="{{ request.form['password'] }}" class="form-control" required>
    <div class="invalid-feedback">
      You must provide a password.
    </div>
  </div>
  <button class="btn btn-lg btn-block btn-primary mb-2" type="submit">Log in</button>
  <div class="mb-3 text-center">
    <a href="{{url_for('signup.signup_as_get') }}">New to Words With Trees? Sign up now</a>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for("static", filename="js/form-validation.js") }}"> </script>
{% endblock %}
