{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" >
  <title>Register</title>
{% endblock %}

{% block body %}
  <div class = "container-fluid">
    <div class="row">
      <p class = "banner">Words with Trees</p>
    </div>
    <div class="row">
      <div class = "border border-success rounded content">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
        <h1 class = "filler pb-1">
          Log in to your account
        </h1>
           <form action="{{ url_for('login.login_form') }}" method="post">
            <fieldset>
            <div>
                <input name="username" placeholder="Username" type="text"/>
            </div>
            <div>
                <input name="password" placeholder="Password" type="password"/>
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
            </fieldset>
           </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}