<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/login.css"> -->
  </head>
  <title>Log In</title>

  <body>
    <form class="form-signin needs-validation" novalidate="" action="{{ url_for('login.login_as_post') }}" method="post">
      <div class="text-center">
        <img src="../static/tree.png" alt="logo" width="250" height="250">
        <h1 class="h4 mb-3 font-weight-normal">Log in</h1>
      </div>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}

      <div class="mb-3">
        <label for="username">Username</label>
        <input name="username" type="text" value="{{ request.form['username'] }}" class="form-control" required autofocus>
        <div class="invalid-feedback">
          You must provide a username.
        </div>
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input name="password" type="password" value="{{ request.form['password'] }}" class="form-control" required>
        <div class="invalid-feedback">
          You must provide a password.
        </div>
      </div>
      <button class="btn btn-lg btn-block btn-primary mb-2" type="submit">Log in</button>
      <div class="mb-3 text-center">
        <a href="{{url_for('signup.signup_as_get') }}">New to Words With Trees? Sign up now</a>
      </div>
    </form>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/form-validation.js") }}"> </script>
    </body>
    </html>
