{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" >
  <title>Home</title>
{% endblock %}

{% block body %}
  <div class = "row">
    <section class ="col-8 canv">
      <canvas id="tree_canvas" width="700px" height="700px">
      </canvas>
      <input id="max-depth-textbox" value="10" type="text">
      <button id="generate-button" >Generate</button>
    </section>
    <aside class = "col-4 info">
      <button type="button" class="btn btn-outline-success profile-btn">Profile</button>
      <button type="button" class="btn btn-outline-success token-btn">Get Tokens</button>
      <p class = "banner">Words with Trees</p>
      <div class = "border border-success rounded content">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
        <h1 class = "filler pb-1">
          Create your account
        </h1>
           <form action="{{ url_for('auth.register_form') }}" method="post">
            <fieldset>
            <div>
                <input name="name" placeholder="Name" type="text"/>
            </div>
            <div>
                <input name="username" placeholder="Username" type="text"/>
            </div>
            <div>
                <input name="password" placeholder="Password" type="password"/>
            </div>
            <div>
                <input name="password-confirm" placeholder="Confirm Password" type="password"/>
            </div>
            <div>
                <button type="submit">Register & Log In</button>
            </div>
            </fieldset>
           </form>

      </div>
      <button type="button" class="btn btn-outline-success sell-btn">Sell</button>
      <button type="button" class="btn btn-outline-success buy-btn">Buy</button>
    </aside>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.createjs.com/1.0.0/easeljs.min.js" ></script>
  <script src="{{ url_for("static", filename="js/tree.js") }}"></script>
{% endblock %}
