{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<title>Home</title>
{% endblock %}

{% block button %}
<a class="btn btn-success ml-auto mr-1" href="{{ url_for('login.logout') }}">Log Out</a>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 canv">
      <div id="canvas-wrapper">
        <canvas id="tree_canvas">
        </canvas>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="row">
        <div class="col text-center">
          <p class="h1">Words with Trees</p>
          <img src="../static/tree.png" alt="" width="250" height="250">
          <p class="h2">Your inventory</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul class="list-group">
            {% for branch in branches %}
            <li class="list-group-item">{{ branch.text }} <button class="btn-danger">Sell</button></li>
            {% else %}
            <li><em>Unbelievable. You have no branches so far. </em></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-success buy-btn">Buy</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
<script src="{{ url_for("static", filename="js/ResizeSensor.js") }}"></script>
<script src="{{ url_for("static", filename="js/misc.js") }}"></script>
<script src="{{ url_for("static", filename="js/branch.js") }}"></script>
<script src="{{ url_for("static", filename="js/tree.js") }}"></script>
<script src="{{ url_for("static", filename="js/init.js") }}"></script>
{% endblock %}
